
pre {
    overflow-x: auto;
}

pre code {
    word-wrap: normal;
    white-space: pre;
}

.test {
	fill: blue;
}

.css_move {
	animation: slide 4s infinite;
}

@keyframes slide {
	0% {x: 50; y: 50 }
	50% {x: 75; y: 50 }
	100% {x: 150; y: 150}
}

.css_color {
  fill: red;
  animation: pulse 10s infinite;
}

@keyframes pulse {
  0%   { fill: #ff0000 }
  17%  { fill: #ffff00 }
  33%  { fill: #00ff00 }
  50%  { fill: #00ffff }
  67%  { fill: #0000ff }
  83%  { fill: #ff00ff }
  100% { fill: #ff0000 }
}

.css_hover {
  fill: red;
}

.css_hover:hover {
	fill: blue;
}

.css_path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 6s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
